<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Wedia.Feature.Identity.Infrastructure.Pipelines.InitializeRoutes, Wedia.Feature.Identity" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="CreateSendApi" value="7b82fcb2d582997dc461fe66e41ad8c9a8b12e19a4dd4c9b" />
      <setting name="CreateSendListId" value="0d178c6a5a9567a50c74ac71def63f8d" />
    </settings>
  </sitecore>
</configuration>