<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Wedia.Feature.EurolifeCalculatorTool.Infrastructure.Pipelines.InitializeRoutes, Wedia.Feature.EurolifeCalculatorTool" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <settings>
      <setting name="EurolifeCalculatorTool.LifeWebApi.URL" set:value="https://esbtestna.eurolife.gr/LifeWebApi/api/" />      
    </settings>
  </sitecore>
</configuration>