main section:last-child.hero-plain:not(.center) {
  margin-bottom: 0;
}

.latest-news + .media-featured-files {
  margin-top: -80px !important;
}

.section-header-summary + .latest-news {
  margin-top: 0 !important;
}

.bg-life-insurance + section > h1, .bg-life-insurance + article {
  margin-top: 48px;
}

.well {
  background-color: $color-life-insurance-soft;

  .cta-double__item {
    position: relative;

    svg {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%) scale(1.5);
    }
  }
}

.highlights + .well {
  background-color: transparent;

  .cta-double__item {
    svg {
      position: relative;
      right: unset;
      top: unset;
      transform: none;
    }
  }
}

section#highlights-accordion + section#highlights-accordion {
  margin-top: 0;
  padding-top: 0;
}

ul.accordion:last-child{
  margin-bottom: 80px;
}