//ie11
.ie11 {
  overflow-x: hidden;
}

.ie11 .list-axis {
  overflow: hidden;
}

.ie11 .list-axis article {
  float: left;
  height: 500px;
  margin: 12px;
  width: calc(33% - 24px);
}

.ie11 .list__item {
  overflow: hidden;
  position: relative;
  padding-bottom: 24px; 
}

.ie11 .list--double__info {
  float: left;
  width: 70%;
  width: 70%;
}

.ie11 .list__download {
  position: absolute;
  top: 50%;
  right: 32px;
  -ms-transform: translateY(-50%);
}

.ie11 {
  .list__calendar{
    position: relative;

    .list__download{
      right:20px;
      top: unset;
      bottom: -22px;
    }
  }
}

.ie11 .triplette {
  overflow: hidden;
  display: block;
}

.ie11 .triplette-item {
  float: left;
  margin: 0 12px;
  min-height: 240px;
  width: calc(33% - 24px);
}

.ie11 .list-grid {
  overflow: hidden;
}

.ie11 .list-grid article {
  float: left;
  margin: 0 12px;
  width: calc(33% - 24px);
}

.ie11 .flex-spread {
  overflow: hidden;
  display: block;
}

.ie11 .flex-spread__half {
  float: left;
  margin: 0 1%;
  width: 48%;
}

.ie11 .menu-products__personal ul {
  display: block;
  overflow: hidden;
}

.ie11 .menu-products__personal li {
  float: left;
  width: 26%;
}

.ie11 .menu-products__personal li:before {
  top: 45%;
  left: 31%;
}

.ie11 .logo img {
  width: 190px;
}

.ie11 #back-to-top {
  background-image: url("../images/icons/back-to-top.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 45%;
}

.ie11 #back-to-top:after {
  content: "";
}

.ie11 .access__list {
  width: 165px;
}

.ie11 .access__list li {
  background: #fff;
}

.ie11 .cross-object-fit {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 20%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ie11 .cross-object-fit img {
  opacity: 0;
}

.ie11 .well.bg-life-insurance {
  .triplette {
    &:after {
      display: none;
    }
  }
}

.ie11 .hero{
  position: relative;
}

.ie11 .leadership {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .leadership__member {
    @include breakpoint(540) {
      flex-basis: 31%;
      margin: 0 17px 24px 0;
    }

    @include breakpoint(820) {
      flex-basis: 23%;
    }
  }
}

.ie11 .leader__photo{
  flex-basis:44%;
}

.ie11 .leader__info {
  flex-basis: 45%;
}

.ie11 .figures__inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ie11 .figure__cell--1{
  flex-basis: 40%;
}

.ie11 .figure__cell--3 {
  flex-basis: 28.5%;
}

.ie11 .figure__cell--2 {
  flex-basis: 60%;
}

.ie11 .figure__cell--4 {
  flex-basis: 39%;
}

.ie11 .figure__cell{
  overflow:hidden;
  margin:0;
}

.ie11 .leader__quote:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27146%27%20height%3D%27104%27%20viewBox%3D%270%200%20146%20104%27%3E%3Cpath%20fill%3D%27%2523111%27%20fill-rule%3D%27nonzero%27%20d%3D%27M135.667%200h-31L84%2041.6V104h62V41.6h-31L135.667%200zm-84%200h-31L0%2041.6V104h62V41.6H31L51.667%200z%27%20opacity%3D%27.1%27%2F%3E%3C%2Fsvg%3E")
}

.ie11 .leadership-slider__quote:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2728px%27%20height%3D%2720px%27%20viewBox%3D%270%200%2028%2020%27%20version%3D%271.1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%3E%3Cg%20id%3D%27About-us%27%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27T6---About-Us---1440%27%20transform%3D%27translate%28-903.000000%2C%20-2254.000000%29%27%20fill%3D%27%2523111111%27%20fill-rule%3D%27nonzero%27%3E%3Cg%20id%3D%27Group-20%27%20transform%3D%27translate%28-242.000000%2C%201908.000000%29%27%3E%3Cg%20id%3D%27ic_format_quote_48px%27%20transform%3D%27translate%281159.000000%2C%20356.000000%29%20scale%28-1%2C%20-1%29%20translate%28-1159.000000%2C%20-356.000000%29%20translate%281145.000000%2C%20346.000000%29%27%3E%3Cpath%20d%3D%27M2%2C20%20L8%2C20%20L12%2C12%20L12%2C0%20L0%2C0%20L0%2C12%20L6%2C12%20L2%2C20%20Z%20M18%2C20%20L24%2C20%20L28%2C12%20L28%2C0%20L16%2C0%20L16%2C12%20L22%2C12%20L18%2C20%20Z%27%20id%3D%27Shape%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ie11 .btn--icon-download {
  background-image: url("../images/icons/download.png");
}

.ie11 .list--list-two-columns .list__items{
  flex-basis: 65%;
}

.ie11 .list--article__item {
  display: flex;

  .list--article__image {
    flex-basis: 43%;
  }

  .list--article__information {
    flex-basis: 45%;
  }
}

.ie11 .list__title{
  padding-right: 80px;
}

.ie11 .sticky-second{
  top: 130px;
}

.ie11 .sticky{
  background: #fff;
}

.ie11 .teaser-icon{
  height: auto;
}

.ie11 .hero--extra picture::before {
  content: " ";
  background: rgba(0,0,0,0.3);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 0 0 100px 0;
}

.ie11 .droplist__options{
  z-index: 99;
}

.ie11 .hero-contents--plain{
  position:relative;

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  }
}

.ie11 {
  .siblings__hover .siblings__title + picture img{
    display:none;
  }
}

.ie11 {
  overflow-x: hidden;

  .list-axis {
    overflow: hidden;

    article {
      float: left;
      height: 500px;
      margin: 12px;
      width: calc(33% - 24px);
    }
  }

  .list__item {
    overflow: hidden;
  }

  .list--double__info {
    float: left;
    width: 70%;
    width: 70%;
  }

  .list__download {
    float: right;
  }

  .triplette {
    overflow: hidden;
    display: block;
  }

  .triplette-item {
    float: left;
    margin: 0 12px;
    min-height: 240px;
    width: calc(33% - 24px);
  }

  .list-grid {
    overflow: hidden;

    article {
      float: left;
      margin: 0 12px;
      width: calc(33% - 24px);
    }
  }

  .flex-spread {
    overflow: hidden;
    display: block;
  }

  .flex-spread__half {
    float: left;
    margin: 0 1%;
    width: 48%;
  }

  .menu-products__personal {

    ul {
      display: block;
      overflow: hidden;
    }

    li {
      float: left;
      width: 26%;

      &:before {
        top: 45%;
        left: 31%;
      }
    }
  }

  .logo img {
    width: 190px;
  }

  #back-to-top {
    background-image: url("../images/icons/back-to-top.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 45%;

    &:after {
      content: "";
    }
  }

  .access__list {
    width: 165px;

    li {
      background: #fff;
    }
  }



  .cross-object-fit {
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      opacity: 0;
    }
  }
  //products
  .grid-table-column {
    float: left;
    width: 259px;
    display: block;
  }

  .grid-table-window {
    /*float: left;
    width: 70%;
    max-width: 1000px;
    overflow-x: scroll;*/
  }

  .program-heading {
    margin-left: 259px;
  }

  .program-grid {
    display: block;
    overflow: hidden;
  }

  .grid-table {
    display: block;
    min-width: 2000px;
  }
  //files
  .grid-3 {
    overflow: hidden;
    display: block;
  }

  .file-item {
    float: left;
    width: 48%;
    min-height: 120px;
    margin: 0 1% 24px;
  }

  .program-controls {
    padding-left: 270px;
    align-items: center;
  }

  .program-attributes + .grid-table-window .grid-table-column {
    width: 270px;
  }

  :not(.program-grid--subsection).program-grid .program {
    margin: 0;
    border-right: 1px solid #d5d5d5;
  }

  .grid-table-cell--heading {
    border-radius: 0;
  }

  .filter__results {
    min-width: 800px;
  }

  .tool:hover .tooltext {
    transform: translateY(-60px);
  }
}