/*------------------------------------*\
  #INPUTS
\*------------------------------------*/


/*btn classes*/
.btn{
    display: inline-block;
    border:1px solid $color-btn-dark;
    border-radius:4px;
    @include font-size(14);
    font-family: inherit;
    cursor: pointer;
    text-align: center;
}

.btn--default{
    padding:14px 34px 15px;
}

.btn--dark{
    background-color:$color-btn-dark;
    color: #fff;
    transition: background-color 150ms linear;
}

.btn--light{
    background-color:$color-btn-light;
    color: $color-btn-dark;
    transition: background-color 150ms linear, color 150ms linear;
}

.btn--ghost{
    background-color: transparent;
    color: $color-btn-dark;
    transition: background-color 150ms linear, color 150ms linear;
}


.no-touch{

    .btn--dark:hover{
        background-color: $color-btn-dark-hover;
    }
    .btn--ghost:hover,
    .btn--light:hover{
        background-color: $color-btn-dark;
        color:#fff;
    }
}

.btn--icon{
    svg{
        max-width:16px;
    }
}

.icon-fill-dark{
    fill:$color-btn-dark;
}


/**/
label{
    margin-bottom:5px;
}





/*checkboxes*/
input[type="checkbox"] {

    float: left;
    margin-top: 7px;
    display: none; 

    + label {
        position: relative;
        padding: 0 30px;
        cursor: pointer;
    }

    + label:before {
        content: "";
        position: absolute;
        top: -2px;
        left:0;
        width: 20px;
        height: 20px;
        border-radius:3px;
        border: 1px solid $color-base;
    }

    + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 3px;
        width: 16px;
        height: 16px;
        border-radius:3px;
        background-color: transparent;
        transition: background-color 150ms ease;
    }

    &:hover + label:after {
        background-color:  $color-base;
    }
    
    &:checked + label:after {
        background-color: $color-base;
    }
    
    &:disabled + label:before {
        opacity: 0.7; 
    }

}


/*radio buttons*/
input[type="radio"] {
    float: left;
    margin-top: 7px;
    display: none; 

    + label {
        position: relative;
        padding: 0 30px;
        cursor: pointer;
    }

    + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid $color-base;
        border-radius: 50%;
        background-color: #fff;
        transition: background-color 150ms ease;
    }

    + label:after {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 150ms ease;
    }

    &:hover + label:after {
        background-color: $color-base;
    }

    &:checked + label:after {
        background-color: $color-base;
    }
}