/* ==================================================
   Mixins
   ================================================== */

   @mixin background($from, $to) {
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-linear-gradient(top, $from 0%, $to 100%); 
    background: linear-gradient(to bottom, $from 0%, $to 100%); 
  }

  
  @mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
   
    #{$property}: $value;
  }
  
  @mixin font-size($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
  }
  
  @mixin breakpoint($point) {
    @if $point == 1700 {
      @media (min-width: 1700px) { @content ; }
    }

    @if $point == 1400 {
      @media (min-width: 1400px) { @content ; }
    }
    
    @else if $point == 1140 {
      @media (min-width: 1140px) { @content ; }
    }

    @else if $point == 820 {
      @media (min-width: 820px) { @content ; }
    }

    @else if $point == 920 {
      @media (min-width: 920px) { @content ; }
    }
    
    @else if $point == 700 {
      @media (min-width: 700px) { @content ; }
    }
    
     @else if $point == 540 {
       @media (min-width: 540px) { @content ; }
    }
    
     @else if $point == xsmall {
       @media (min-width: 321px)  { @content ; }
    }
  }


@mixin breakpoint-rev($point) {

  @if $point == 1140 {
    @media (max-width: 1140px) { @content ; }
  }
  @else if $point == 960 {
    @media (max-width: 960px) { @content ; }
  }
  @else if $point == 920 {
    @media (max-width: 920px) { @content ; }
  }
  @else if $point == 820 {
    @media (max-width: 820px) { @content ; }
  }
  @else if $point == 700 {
    @media (max-width: 700px) { @content ; }
  }
  @else if $point == 540 {
    @media (max-width: 540px) { @content ; }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}