<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Forms" description="Feature Forms" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate>
            <!--<include name="FormsComponentsLayouts" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts" />-->
            <include name="Forms" database="master" path="/sitecore/Forms" />
            <!--<include name="FormsSettings" database="master" path="/sitecore/system/Settings/Forms" />
            <include name="FormsExtensions" database="master" path="/sitecore/templates/Modules/FormExtensions" />
            <include name="FormsRules" database="master" path="/sitecore/system/Settings/Rules/ValueProviderConditions" />
            <include name="FormsDictionaries" database="master" path="/sitecore/system/Dictionary/captcha-required" />
            <include name="SystemForms" database="master" path="/sitecore/templates/System/Forms" />-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>