<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/">
  <add key="eds:define" value="CustomSMTP" />
  <sitecore role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
    <exm>
      <eds>
        <smtpSettings patch:instead="*[@type='Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core']" type="Sitecore.EDS.Core.Net.Smtp.SmtpSettings, Sitecore.EDS.Core" singleInstance="true">
          <server>78.46.119.135</server>
          <port>25</port>
          <userName>info@athena.wedia.gr</userName>
          <password>w3d!a1qaz2wsx</password>
          <authenticationMethod>LOGIN</authenticationMethod>
          <startTls>false</startTls>
          <proxySettings ref="exm/eds/proxySettings" />
        </smtpSettings>
      </eds>
    </exm>
    <settings>
      <setting name="MailServer" value="78.46.119.135" />
      <!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      -->
      <setting name="MailServerUserName" value="info@athena.wedia.gr" />
      <!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      -->
      <setting name="MailServerPassword" value="w3d!a1qaz2wsx" />
      <!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25
      -->
      <setting name="MailServerPort" value="25" />

      <setting name="GoogleCaptchaPublicKey" value="6LcahboUAAAAAK1HH-TiBiV_j_wSTw1J2vbTjxos" />
      <setting name="GoogleCaptchaPrivateKey" value="6LcahboUAAAAANdNRuiRLl5uYkFkNPC2UWLIIVsx" />
      <setting name="XDbPreferredAddress" value="preferred" />
      <setting name="XDbPreferredPhoneNumber" value="preferred" />
      <setting name="XDbPreferredEmailAddress" value="preferred" />
      <setting name="MakeContactKnownOnFormsUpdate" value="true" />
    </settings>

    <formExtensions>
      <!-- Pick one of these fileUploadStorageProviders for upload to work -->

      <fileUploadStorageProvider type="Feature.FormsExtensions.Business.FileUpload.FileSystemFileUploadStorageProvider, Feature.FormsExtensions">
        <rootStoragePath>c:\temp\</rootStoragePath>
        <fileDownloadUrlBase>$(domainName).$(rootHostName)/{0}</fileDownloadUrlBase>
      </fileUploadStorageProvider>

      <!-- <fileUploadStorageProvider type="Feature.FormsExtensions.Business.FileUpload.AzureBlobStorageFileUploadStorageProvider, Feature.FormsExtensions">
        <connectionString></connectionString>
        <blobContainer></blobContainer>
        <folder></folder>
      </fileUploadStorageProvider>
      -->
    </formExtensions>
  </sitecore>
</configuration>
