/*------------------------------------*\
  #BENEFITS
\*------------------------------------*/

.benefits{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after{
    content:"";
    flex-basis: 30%;
  }
}

.benefits__item {
  flex-basis: 100%;

  @include breakpoint(540) {
    flex-basis: 48%;
  }

  @include breakpoint(700) {
    flex-basis: 30%;
  }

  @include breakpoint(820) {
    margin-bottom: 64px;
  }

  margin-bottom: 48px;
}

.benefits__title {
  font-size: 18px;
  color: $dusky-blue;
  line-height: 1.39;

  @include breakpoint-rev(820) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.benefits__icon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin: 0 auto 16px;
  border-radius: 50%;
  background-color: $dusky-blue;
  align-items: center;

  img {
    height: 50px;
  }
}