/*------------------------------------*\
  #BREADCRUMBS
\*------------------------------------*/
@import "../scss/base/mixins.scss";
@import "../scss/base/variables.scss";

.breadcrumbs{
  padding-top:8px;
  li{
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
    opacity: 0.6;

    &:not(:last-child):after{
      content:"/";
      margin-left: 15px;
      color: $color-black;
    }
    &:last-child{
      font-weight: 800;
      opacity: 1;
    }
  }
  a,span{
    font-size: 15px;
    color: $color-black;
  }
}

/*when breadcrumb overlaps image*/
.bread-overlays {
  .breadcrumbs {
    position: absolute;
    top: 0;
    z-index: 2;
    padding-top:8px;
    @include breakpoint(1700) {
      left: calc(((100vw - 1700px) / 2) - 8px);
    }
    right: 0;
    width: 100%;
    li {
      opacity: 1;
      &:not(:last-child):after {
        color: #fff;
      }
    }

    a, span {
      color: #fff;
    }
  }
}

.bread-light {
  .breadcrumbs {
    li {
      opacity: 1;
      &:not(:last-child):after {
        color: #fff;
      }
    }

    a, span {
      color: #fff;
    }
  }
}

.bread-overlays-no-shift{
  .breadcrumbs {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    left:0;
    width: 100%;
  }
}