/*------------------------------------*\
  #MATERIAL
\*------------------------------------*/
.material{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top:112px;
  padding-bottom:112px;
}

.material__svg{
  width:55px;
  height:55px;
  border-radius:50%;
  margin-right: 24px;
}
.material__svg--health{
  background-color:#ffb3ab;
}

.material__svg--car{
  background-color: #91cca3;
}

.material__svg--home{
  background-color:#f8d590;
}
.material__card{
  display: flex;
  padding:24px;
  margin-bottom: 16px;
  background-color:#fff;
  border-radius: 5px;
}

.btn--material{
  min-width: 240px;
  margin-left: auto;
  margin-top:4px;
  margin-bottom:4px;
  padding: 17px 32px 14px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 150ms linear, color 150ms linear, border-color 150ms linear;
}

.material__title{
  margin-top:10px;
  font-size:22px;
  font-weight: 500;
}

.material__text{
  margin-bottom:48px;
  margin-top:16px;
  font-size: 14px;
  color:$color-black-faded;
}

.material__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.material__icon{
  width: 60px;
  height:60px;
  margin-right: 20px;
  background-repeat: no-repeat;

}


.color-health {
  .btn--material{
    color: $strawberry;
    border-color: $strawberry;
  }
}
  .color-motor {
    .btn--material{
      color:$light-forest-green;
      border-color: $light-forest-green;
    }

  }

  .color-home {
    .btn--material{
      color:$dusty-orange;
      border-color: $dusty-orange;
    }
}


