/*------------------------------------*\
  #PEOPLE
\*------------------------------------*/
.people {
  background-color: $duck-egg-blue;

  .slick-arrow {
    position: absolute;
    bottom: 33px;

    @include breakpoint(820) {
      top: 50%;
      bottom: unset;
    }

    svg {
      width: 30px;

      @include breakpoint(820) {
        width: 60px;
      }
    }

    .slick-disabled {
      opacity: 0.6;
    }

    &.slick-prev {
      left: 20px;

      @include breakpoint(820) {
        left: 0;
      }
    }

    &.slick-next {
      right: 20px;

      @include breakpoint(820) {
        right: 0;
      }
    }
  }
}

:host {
  display: block;
}

.people__image {
  img {
    margin: 0 auto;
    width: 156px;
    border-radius: 50%;
    object-fit: cover;
    height: 156px;
  }
}

.people__quote {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 22px;
  font-weight: 500;
}

.people__position {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 14px;
  color: $color-black-faded;
}




