/*------------------------------------*\
  #BASE
\*------------------------------------*/

.tool{
  max-width: 22px;
  margin-left: 8px;
  position: relative;
  min-width: 22px;
  cursor: pointer;
  &:hover{
    .tooltext{
      opacity: 1;
      z-index: 1;
      transform: translateY(0);
    }
  }


}

.tooltext{
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 32px;
  left:-50px;
  width:250px;
  height:auto;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  z-index: -1;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  transition: all 300ms ease;
  &:after {
    bottom: 100%;
    left: 60px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
    padding-top:10px;
  }
}