/*------------------------------------*\
  #BASE
\*------------------------------------*/

.tool {
  position: absolute;
  max-width: 22px;
  margin-left: 8px;
  min-width: 22px;
  cursor: pointer;
  display: inline-block;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  svg {
    opacity: 0.5;
    transition:0.5s opacity ease-in-out;
  }

  &:hover {
    svg {
      opacity: 1;
    }

    .tooltext {
      opacity: 1;
      z-index: 1;
      transform: translateY(0);
    }
  }
}

.tooltext {
  opacity: 0;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  left: -155px;
  width: 200px;
  height: auto;
  background-color: #fff;
  font-size: 10px;
  font-weight: 500;
  z-index: -1;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  transition: all 300ms ease;
  pointer-events: none;

  &:after {
    bottom: -30px;
    left: 165px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
    padding-bottom: 10px;
    transform: rotateX(180deg);
  }
}