
.heading-color {
  color: #008094;
}

.chart-card__heading {
    margin-top:0;
    margin-bottom:8px;
    font-weight:500;
  font-size: clamp(22px, 2.2vw, 28px);
}

.chart-card__subheading {
  display: inline-block;
  padding-right: 40px;
  margin: 16px 0;
  font-size: 14px;
  font-weight: 500;
  color: #383B38;
}

.chart-card {
  font-size: 12px;
  color: #383B38;
}

.chart-legend {
  ul {
    list-style: none;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    margin-left: 24px;
  }

  li {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #383B38;
  }
}

.chart-legend__color{
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 6px;
  margin-bottom: -1px;
  border-radius: 50%;
}


.chart-legend__label {
  display: block;
  font-size: 12px;
  line-height: 1.1;
  color: #383B38;
  opacity: 0.6;
}


.chart-card {
  padding: 32px 24px;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.38)
}

.chart-card__pie-wrap{
    display:flex;
}

.chart-card__pie{
    max-width:110px;
}

.chart-card__bar-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1;
  color: #383B38;
}

.chart-card__bar-title {
  
   margin:0;
    opacity:0.6;
}

.chart-card__bar-value {
  font-weight:600;
}

.chart-card__bar-wrap {
    display:none;
  font-size: 12px;
  color: rgba(56, 59, 56, 0.6);
  &.visible{
      display:block;
  }
}

.charts-toggle {
  background-color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}



.equal-heights-slick {
  margin-bottom: 32px;

  @include breakpoint-rev(1140) {
    padding: 20px;
  }



  .slick-track {
    display: flex;
  }

  .slick-slide {
    margin: 4px 12px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -12px;
  }

  .slick-prv {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    left: -10px;

    @include breakpoint(1140) {
      left: -54px;
    }
  }

  .slick-nxt {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 30px;
    right: -10px;

    @include breakpoint(1140) {
      right: -54px;
    }
  }
}
