/*------------------------------------*\
  #HERO
\*------------------------------------*/
/* ==================================================
   Mixins
   ================================================== */
/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
.hero {
  padding-right: 60px; }
  @media (min-width: 1700px) {
    .hero {
      margin-right: calc( (100vw - 1700px ) / 2); } }
  .hero img {
    width: 100%;
    border-radius: 0 0 170px 0; }
