<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="eurolife">eurolife</site>
                    </sites>
                </handler>
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <site hint="eurolife">eurolife</site>
                    </sites>
                </handler>
            </event>
        </events>
        <sites>
            <site name="eurolife" patch:after="site[@name='modules_website']" 
                  targetHostName="$(domainName).$(rootHostName)" 
                  database="master" 
                  virtualFolder="/" 
                  physicalFolder="/" 
                  rootPath="/sitecore/content/eurolife" 
                  startItem="/Home" 
                  dictionaryPath="/sitecore/content/eurolife/global/dictionary" 
                  dictionaryAutoCreate="false" 
                  placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Eurolife"
                  domain="extranet" 
                  allowDebug="true" 
                  cacheHtml="true" 
                  htmlCacheSize="50MB" 
                  registryCacheSize="0" 
                  viewStateCacheSize="0" 
                  xslCacheSize="25MB" 
                  filteredItemsCacheSize="10MB" 
                  enablePreview="true" 
                  enableWebEdit="true" 
                  enableDebugger="true" 
                  enabledLanguages="el-GR"
                  language="el-GR"
                  disableClientData="false" 
                  cacheRenderingParameters="true" 
                  renderingParametersCacheSize="10MB"                   
                  enableItemLanguageFallback="true" />
            <!-- formsRoot="{4BC8A78C-44A7-46EB-8126-040D3F12CAA0}"
            loginPage="/login"-->
        </sites>
        <cacheSizes>
            <sites>
                <habitat>
                    <html>50MB</html>
                    <registry>0</registry>
                    <viewState>0</viewState>
                    <xsl>25MB</xsl>
                </habitat>
            </sites>
        </cacheSizes>
        <settings>
          <setting name="ItemNotFoundUrl" value="/not-found"/>
          <setting name="Preview.DefaultSite">
                <patch:attribute name="value" value="eurolife" />
            </setting>
        </settings>
    </sitecore>
</configuration>