<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Project.Eurolife.Website" description="Eurolife content" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Project">
                    <predicate>
                        <include name="Layouts" database="master" path="/sitecore/layout/layouts/Project/Eurolife" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Eurolife" />
                        <include name="Models" database="master" path="/sitecore/layout/models/Project/Eurolife" />
                        <include name="Languages.Greek" database="master" path="/sitecore/system/Languages/el-GR" />

                        <include name="Content" database="master" path="/sitecore/content/Eurolife" />
                        <include name="Media" database="master" path="/sitecore/media library/Project/Eurolife" />
                        <!--<include name="Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Eurolife" />-->

                        <!--<include name="Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Eurolife" />
                        <include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Eurolife" />
                        <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Eurolife" />
                        <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Eurolife" />-->
                    </predicate>
                    <rolePredicate>
                        <include domain="extranet" pattern="^Project Eurolife .*$" />
                    </rolePredicate>
<!--
                    TODO: Bug in Unicorn with SC v9?
                    <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
                        <include domain="extranet" pattern="^((?!Anonymous).)*$" />
                    </userPredicate>
                    <userSyncConfiguration defaultPassword="b" minPasswordLength="1" />
-->
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>