<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Wedia.Feature.Search.Infrastructure.Pipelines.InitializeRoutes, Wedia.Feature.Search" resolve="true" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" />
            </initialize>
        </pipelines>
        <solutionFramework>
            <indexing>
                <providers>
                    <add name="facets" type="Wedia.Feature.Search.Infrastructure.Providers.DefaultFacetProvider, Wedia.Feature.Search" resolve="true" />
                </providers>
            </indexing>
        </solutionFramework>
    </sitecore>
</configuration>