/*------------------------------------*\
  #INPUTS
\*------------------------------------*/

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
    display: block;
    width:100%;
    padding:8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.36;
    font-family: inherit;
    border:0;
    border-bottom:1px solid #979797;
}

textarea{
    width: 100%;
    padding:8px;
    resize: none;
    border: 0;
    border-bottom: 1px solid #979797;
    min-height: 80px;
    font-family: inherit;
}

select{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #979797;
    font-family: inherit;
}

input[type="submit"]{

    display: inline-block;
    margin-top: 32px;
    border:1px solid $color-btn-dark;
    border-radius:4px;
    @include font-size(14);
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    padding:10px 16px 11px;
    @include breakpoint(700){
        padding:14px 34px 15px;
    }
    background-color:$color-btn-dark;
    color: #fff;
    transition: background-color 150ms linear;
}

.form *{
    outline: none;
}

/*btn classes*/
.btn{
    display: inline-block;
    border:1px solid $color-btn-dark;
    border-radius:4px;
    @include font-size(14);
    font-family: inherit;
    cursor: pointer;
    text-align: center;
}

.btn--default{
    padding:10px 16px 11px;
    @include breakpoint(700){
        padding:14px 34px 15px;
    }
}

.btn--dark{
    background-color:$color-btn-dark;
    color: #fff;
    transition: background-color 150ms linear;
}

.btn--light{
    background-color:$color-btn-light;
    color: $color-btn-dark;
    transition: background-color 150ms linear, color 150ms linear;
}

.btn--white{
    background-color:#fff;
    color: $charcoal;
    font-weight: 500;
    border-color: #fff;
    transition: background-color 150ms linear, color 150ms linear;
}

.btn--ghost{
    background-color: transparent;
    color:#fff;
    border-color: #fff;
    transition: background-color 150ms linear, color 150ms linear, border-color 150ms linear;
}

.btn--ghost-rev {
    background-color: transparent;
    color: $color-btn-dark;
    border-color: $color-btn-dark;
    transition: background-color 150ms linear, color 150ms linear, border-color 150ms linear;
}

.btn--icon{
    padding: 32px 34px 32px;
}

.btn--icon-download{
    background-image: url("data:image/svg+xml;utf8,<svg width='28px' height='26px' viewBox='0 0 28 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g transform='translate(-1207.000000, -512.000000)' fill='%23FFFFFF' fill-rule='nonzero'><g transform='translate(171.000000, 474.000000)'><g><g transform='translate(1015.000000, 16.000000)'><g transform='translate(19.000000, 19.000000)'><path d='M22.8597366,16.8501586 C23.1435878,16.5757196 23.1435878,16.1436636 22.8597366,15.8692246 C22.585475,15.5947856 22.1290116,15.5947856 21.8553893,15.8692246 L16.7109065,20.8338512 L16.7109065,4.42993868 C16.7109065,4.04733113 16.3963688,3.73333333 16.0006393,3.73333333 C15.6049099,3.73333333 15.2801432,4.04733113 15.2801432,4.42993868 L15.2801432,20.8338512 L10.1458893,15.8692246 C9.8620381,15.5947856 9.40493543,15.5947856 9.13131313,15.8692246 C8.84746196,16.1436636 8.84746196,16.5757196 9.13131313,16.8501586 L15.4936709,23.0015486 C15.7679325,23.266716 16.2243959,23.266716 16.508247,23.0015486 L22.8597366,16.8501586 Z M27.90257,21.3536782 C27.90257,20.9710707 28.2171078,20.6669626 28.6128372,20.6669626 C29.0085667,20.6669626 29.3333333,20.9710707 29.3333333,21.3536782 L29.3333333,28.1033947 C29.3333333,28.4860022 29.0085667,28.8 28.6128372,28.8 L3.3769339,28.8 C2.98120445,28.8 2.66666667,28.4860022 2.66666667,28.1033947 L2.66666667,21.3536782 C2.66666667,20.9710707 2.98120445,20.6669626 3.3769339,20.6669626 C3.77266334,20.6669626 4.09743,20.9710707 4.09743,21.3536782 L4.09743,27.416679 L27.90257,27.416679 L27.90257,21.3536782 Z' id='Shape'></path></g></g></g></g></g></g></svg>");
    background-repeat: no-repeat;
    background-position: 50%;
}


.btn--c-t-c{
    padding:13px 17px 13px;
    color:$strawberry;
    svg{
        max-width: 26px;
        margin: 0 10px -8px -2px;
    }
}
.no-touch{
    .btn--c-t-c:hover{
        path{
            fill:#fff;
        }
    }
}

.btn--c-t-call{
    margin-right: 10px;
    padding:14px 17px;
    svg{
        max-height: 22px;
        max-width: 22px;       
        margin: 0 10px -8px -2px;
    }
}
.btn--c-t-chat{
    padding:15px 17px;
    svg{
        max-width: 28px;
        max-height: 22px;
        margin: 0 10px -8px -2px;
    }
}


.no-touch{

    .btn--dark:hover{
        background-color: $color-btn-dark-hover;
    }
    .btn--ghost:hover,
    .btn--ghost-rev:hover,
    .btn--light:hover,
    .btn--white:hover,
    .btn--material:hover{
        background-color: $color-btn-dark;
        border-color: $color-btn-dark;
        color:#fff;
    }
}

.btn--play{
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 32px;
    svg{
        max-width: 30px;
        display: inline-block;
        max-height: 25px;
        margin-left: 5px;
        margin-bottom: -8px;
    }
}

.btn--icon{
    svg{
        max-width:16px;
    }
}

.icon-fill-dark{
    fill:$color-btn-dark;
}


/**/
label{
    margin-bottom:5px;
}


/*checkboxes*/
input[type="checkbox"] {

    float: left;
    margin-top: 7px;
    display: none;

    + label {
        position: relative;
        padding: 0 30px;
        cursor: pointer;
    }

    + label:before {
        content: "";
        position: absolute;
        top: -2px;
        left:0;
        width: 20px;
        height: 20px;
        border-radius:3px;
        border: 1px solid $color-base;
    }

    + label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 3px;
        width: 16px;
        height: 16px;
        border-radius:3px;
        background-color: transparent;
        transition: background-color 150ms ease;
    }

    &:hover + label:after {
        background-color:  $color-base;
    }
    
    &:checked + label:after {
        background-color: $color-base;
    }
    
    &:disabled + label:before {
        opacity: 0.7; 
    }

}


/*radio buttons*/
input[type="radio"] {
    float: left;
    margin-top: 7px;
    display: none;

    + label {
        position: relative;
        padding: 0 30px;
        cursor: pointer;
    }

    + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        border: 1px solid $color-base;
        border-radius: 50%;
        background-color: #fff;
        transition: background-color 150ms ease;
    }

    + label:after {
        content: "";
        position: absolute;
        left: 3px;
        top: 3px;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 150ms ease;
    }

    &:hover + label:after {
        background-color: $color-base;
    }

    &:checked + label:after {
        background-color: $color-base;
    }
}


.cta-double__item__label{
    display: block;
    margin-bottom:8px;
    font-size: 18px;
    font-weight: 500;
    color: $dusky-blue;
}

.cta-double__item__prompt{
    max-width: 70%;
    margin-bottom: 24px;
    font-size: 14px;
    color: $dusky-blue-soft;
}

.cta-double__item__link{
    font-size: 14px;
    font-weight: 500;
    color: $dusky-blue;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:100%;
    }
}

.cta-double__item{
        position: relative;
    padding:48px 36px 48px 48px;
    background-color: transparent;
    transition: background-color 250ms ease, box-shadow 300ms ease;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0);
    border:1px solid $dusky-blue;
    svg{
        margin-left: 5px;
        max-width: 18px;
        margin-bottom: -3px;
    }
}

@include breakpoint-rev(820){

    .cta-double__item {
        flex-basis: 100%;
        padding:48px 24px;
        &:first-child {
            margin-bottom: 24px;
        }
    }
}


.no-touch{
    .cta-double__item:hover{
        background-color: $color-life-insurance;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.18);
        .cta-double__item__link,
        .cta-double__item__label,
        .cta-double__item__prompt{
            color:#fff;
        }
        path, use{
            fill:#fff;
        }
    }
}