/*------------------------------------*\
  #CONTACT | CUSTOMER SERVICES
\*------------------------------------*/

//ways of communication
.ways__to-contact{
  font-size: 16px;
  font-weight: 300;
  h4{
    margin-bottom:4px;
    margin-right: 20px;
    margin-top:0;
    font-size: 18px;
    font-weight: 500;
  }
  li{
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left:30px;
  }                                               
}

li.phone{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'><path fill='%23ef3340' fill-rule='nonzero' d='M35.717 33.851a5.12 5.12 0 0 1 6.076-1.48l9.165 4.07a5.123 5.123 0 0 1 2.877 5.968l-2.01 7.751a5.14 5.14 0 0 1-5.68 3.791C25.33 51.028 8.972 34.67 6.049 13.852a5.14 5.14 0 0 1 3.795-5.677l7.745-2.01a5.121 5.121 0 0 1 5.97 2.88l4.07 9.164a5.121 5.121 0 0 1-1.48 6.076L23.132 26.7a35.599 35.599 0 0 0 10.17 10.17l2.415-3.018zm-.313 7.073a2.087 2.087 0 0 1-2.687.495 39.772 39.772 0 0 1-14.135-14.134 2.087 2.087 0 0 1 .495-2.687l4.464-3.571a.947.947 0 0 0 .274-1.124l-4.07-9.165a.948.948 0 0 0-1.106-.533l-7.744 2.009a.964.964 0 0 0-.712 1.062c2.664 18.97 17.573 33.878 36.537 36.541a.964.964 0 0 0 1.065-.708l2.01-7.748a.95.95 0 0 0-.532-1.106l-9.164-4.07a.946.946 0 0 0-1.123.274l-3.572 4.465z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 5px;
}
li.fax{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'><path fill='%23ef3340' fill-rule='nonzero' d='M16.5 39.172v-9.505c0-.808.672-1.463 1.5-1.463h24c.828 0 1.5.655 1.5 1.463v9.505H51V28.935c0-4.845-4.03-8.774-9-8.774H18c-4.97 0-9 3.929-9 8.774v10.237h7.5zm0 2.925h-9c-.828 0-1.5-.655-1.5-1.463V28.935c0-6.46 5.373-11.698 12-11.698h24c6.627 0 12 5.237 12 11.698v11.7c0 .807-.672 1.462-1.5 1.462h-9v8.774c0 .808-.672 1.462-1.5 1.462H18c-.828 0-1.5-.654-1.5-1.462v-8.774zM41.625 25.28c-.621 0-1.125-.491-1.125-1.097s.504-1.097 1.125-1.097 1.125.491 1.125 1.097-.504 1.097-1.125 1.097zM19.5 9.925v4.387c0 .807-.672 1.462-1.5 1.462s-1.5-.655-1.5-1.462v-5.85C16.5 7.655 17.172 7 18 7h24c.828 0 1.5.655 1.5 1.462v5.85c0 .807-.672 1.462-1.5 1.462s-1.5-.655-1.5-1.462V9.925h-21zm0 21.204v18.28h21v-18.28h-21zm4.5 7.312c-.828 0-1.5-.655-1.5-1.463 0-.807.672-1.462 1.5-1.462h12c.828 0 1.5.655 1.5 1.462 0 .808-.672 1.463-1.5 1.463H24zm0 6.58c-.828 0-1.5-.654-1.5-1.462 0-.808.672-1.462 1.5-1.462h12c.828 0 1.5.654 1.5 1.462 0 .808-.672 1.463-1.5 1.463H24z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 5px;
}
li.email{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'><path fill='%23ef3340' fill-rule='nonzero' d='M45.963 15.81a1.555 1.555 0 0 1 2.19.05c.59.615.567 1.59-.052 2.176L31.07 34.19a1.556 1.556 0 0 1-2.138 0L11.899 18.036a1.532 1.532 0 0 1-.051-2.175 1.555 1.555 0 0 1 2.189-.05L30 30.95l15.963-15.14zM14.195 42.476c-.521.674-1.494.8-2.171.282a1.532 1.532 0 0 1-.284-2.158l7.742-10a1.555 1.555 0 0 1 2.172-.281c.678.518.804 1.484.283 2.157l-7.742 10zm23.868-10a1.532 1.532 0 0 1 .283-2.157 1.555 1.555 0 0 1 2.172.281l7.742 10c.52.674.394 1.64-.284 2.158a1.555 1.555 0 0 1-2.171-.282l-7.742-10zM6 15.385C6 12.41 8.426 10 11.42 10h37.16c2.994 0 5.42 2.41 5.42 5.385v29.23C54 47.59 51.574 50 48.58 50H11.42C8.425 50 6 47.59 6 44.615v-29.23zm3.097 0v29.23a2.315 2.315 0 0 0 2.322 2.308h37.162a2.315 2.315 0 0 0 2.322-2.308v-29.23a2.315 2.315 0 0 0-2.322-2.308H11.419a2.315 2.315 0 0 0-2.322 2.308z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 5px;
}
li.place{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'><path fill='%23ef3340' fill-rule='nonzero' d='M31.462 48.661a99.185 99.185 0 0 0 5.586-6.897c2.332-3.172 4.258-6.247 5.639-9.123C44.199 29.49 45 26.692 45 24.358c0-8.945-6.921-15.31-15-15.31s-15 6.365-15 15.31c0 2.334.801 5.133 2.313 8.283 1.38 2.876 3.307 5.951 5.639 9.123a99.185 99.185 0 0 0 5.586 6.897A95.63 95.63 0 0 0 30 50.278c.453-.489.943-1.03 1.462-1.617zM48 24.358c0 2.867-.922 6.089-2.617 9.619-1.472 3.067-3.495 6.298-5.931 9.61a102.182 102.182 0 0 1-5.758 7.111 95.482 95.482 0 0 1-2.436 2.653l-.197.203a1.483 1.483 0 0 1-2.122 0 63.114 63.114 0 0 1-.734-.768 95.482 95.482 0 0 1-1.899-2.088 102.182 102.182 0 0 1-5.758-7.11c-2.436-3.313-4.459-6.544-5.931-9.611C12.922 30.447 12 27.225 12 24.358 12 13.658 20.327 6 30 6s18 7.658 18 18.358zm-18 7.547c-4.142 0-7.5-3.411-7.5-7.62 0-4.207 3.358-7.618 7.5-7.618 4.142 0 7.5 3.41 7.5 7.619 0 4.208-3.358 7.619-7.5 7.619zm0-3.048c2.485 0 4.5-2.047 4.5-4.571 0-2.525-2.015-4.572-4.5-4.572s-4.5 2.047-4.5 4.572c0 2.524 2.015 4.571 4.5 4.571z'/></svg>");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 2px;
}


//click to call | chat

.c-t-c{
  background-color: $strawberry;
  padding: 38px 28px;
  color:#fff;
}

.c-t-c__intro{
  margin-bottom: 24px;
  font-size: 18px;
}

.c-t-c__note{
  margin-top:24px;
  margin-bottom:24px;
  font-size: 14px;
  line-height: 1.4;
}







