/*------------------------------------*\
  #PRODUCTS
\*------------------------------------*/

.coverage__area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 80vh;
  overflow: hidden;
  transition: max-height 1000ms ease;
  &--expanded{
    max-height: 3000vh;
  }
}

.coverage__title{
  flex-basis:100%;
}

.coverage__column{
  flex-basis: 100%;
  @include breakpoint(700) {
    flex-basis: 47%;
  }
}

.product-moto{
  margin-top:120px;
  margin-bottom:100px;

  h1,p,.moto-heading{
    max-width: 100%;

    @include breakpoint(1140){
      max-width: 50%;
    }

  }
}

/*product highlights*/
.highlights{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--double{
    justify-content: space-evenly;
  }
}

.teaser--highlight{
  flex-basis:100%;
  display: flex;
  flex-direction: column;

  .btn{
    min-width: 240px;
  }

  @include breakpoint-rev(820){
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  @include breakpoint(700){
    flex-basis:48%;
  }
  @include breakpoint(820){
    flex-basis:29%;
  }
}

.teaser-highlight__text{
  margin-bottom:48px;
  @include font-size(14);
  color:rgba(56,59,56, 0.6);
}

.teaser-icon{
  display: flex;
  width:100px;
  height:74px;
  margin-bottom:30px;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.teaser-icon__microscope{
  background-image: url(../images/icons/health/microscope.svg);
}

.teaser-icon__stithoscope{
  background-image: url(../images/icons/health/stithoscope.svg);
}

.teaser-icon__program{
  background-image: url(../images/icons/health/program.svg);
}

.teaser-icon__pickup{
  background-image: url(../images/icons/home/pickup.svg);
}

.teaser-icon__support{
  background-image: url(../images/icons/home/support.svg);
}

.teaser-icon__flexibility{
  background-image: url(../images/icons/home/flexibility.svg);
}

.teaser-icon__discount{
  background-image: url(../images/icons/motor/discount.svg);
}

.teaser-icon__accidentcare{
  background-image: url(../images/icons/motor/accidentcare.svg);
}

.teaser-icon__settlement{
  background-image: url(../images/icons/motor/settlement.svg);
}

.teaser-icon__shield{
  background-image: url(../images/icons/life/shield.svg);
}

.teaser-icon__hourglass{
  background-image: url(../images/icons/life/hourglass.svg);
}

.teaser-icon__life-jacket{
  background-image: url(../images/icons/life/life-jacket.svg);
}

/*coverage*/
.coverage__title{
  padding-right:0;

  @include breakpoint(1140){
    padding-right: 50%;
  }
}

.teaser__btn{
  margin-top:auto;
}

.coverage__yes{

  li{
    margin-bottom: 40px;
  }

  > ul {
    padding-left: 30px;
    > li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 0;
        background-image: url(../images/icons/check-blue.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.coverage__no {

  li{
    margin-bottom: 40px;
  }

  > ul {
    padding-left: 30px;
    > li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 1px;
        background-color: #000;
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
      &:after {
        content: '';
        position: absolute;
        left: -26px;
        right: 0;
        top: 11px;
        background-color: #fff;
        width: 14px;
        height: 2px;
      }
    }
  }
}

/*reasonging slider*/
.reasoning__menu{
  ul{
    display: flex;
    justify-content: center;
  }
  a{
    display: block;
    padding: 24px 64px;
    font-size: 18px;
    border-bottom:3px solid transparent;
    cursor: pointer;
  }

  .slick-active{
    a{
      border-color: $color-base;
      font-weight: 500;
    }
  }
}


.reasoning__text{
  margin-bottom: 45px;
  text-align: center;
  font-size:18px;
}

/*grid*/
.program-grid{
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: auto;
  @include breakpoint(540){
    grid-template-columns: 183px auto;
  }

}


.grid-table-column {
  display: grid;
  align-items: center;
  grid-template-rows: auto;
}

.program-attributes{
  font-size:14px;
  display: none;
  @include breakpoint(540){
    display: grid;
  }

  .grid-table-cell{
    padding-left: 0;
    padding-right: 0;
    min-height: 50px;
    align-items: center;

    @include breakpoint(540){
      display: flex;
    }
  }
}

.grid-table {
  display: grid;
  grid-column-gap: 32px;
  margin: 0 auto;
  align-items: top;
  grid-template-columns:repeat(var(--programCount), calc(100vw - 120px));

  @include breakpoint(540){
    grid-template-columns: repeat(var(--programCount), 274px);
  }

  border-radius: 0.5rem;
  transform: translateX(var(--transform));
  transition: transform 500ms ease-in-out;
}

@include breakpoint(540) {
  .program-grid-2 {
    .grid-table {
      grid-template-columns: repeat(var(--programCount), 428px);
    }
  }
}

.grid-table-window{
  overflow: hidden;
  padding-left: 0;
  @include breakpoint(540) {
    padding-left: 29px;
    border-left: 1px solid #eee;
  }

  @include breakpoint-rev(1140){
    overflow-x: scroll ;
  }
}

.grid-table-cell{
  padding: 4px 20px;

  @include breakpoint-rev(540){
    border-bottom: 1px solid #b5b5b5;
    &:before{
      content:attr(data-title);
      display: block;
      margin-bottom: 4px;
      color: $color-black-faded;
      font-size: 14px;

    }
  }
}

.program{
  align-items: center;
  background-color: #eee;
  .grid-table-cell{
    font-weight: 500;
    line-height: 1.2;
    min-height: 60px;
    align-items: center;
    justify-content:center;

    @include breakpoint(540){
      display: flex;
    }
  }
  .grid-table-cell--heading{
    min-height: 80px;
  }
}

.grid-table-cell--heading{
  height: 100%;
  border-radius: 0 0 25px 0;
  color:#fff;
  line-height: 1.3;
  font-weight: 500;
  font-size:18px;
  padding:20px;
}
.program-grid:not(.program-grid--subsection) {
 > .program-attributes {
    .grid-table-cell {
      &:first-child {
        min-height: 80px;
      }
    }
  }
}
.theme-health{
  .product-moto{
    h1{
      color: $color-health;
    }
  }
  .programs__tabs__title--active{
    background-color:$color-health;
  }
  .grid-table-cell--heading {
      background-color: $color-health;
    }
  .moto-heading{
    color: $color-health;
  }
  .accordion > li{
    border-left-color: $color-health;
  }
  .triplette-item--static{
    background-color: $color-health-soft;
    h3{
      color:$color-health;
    }
  }
  .intro-text h1{
    color:$color-health;
  }
  .nav-product{
    background-color: $color-health;
  }
}

.theme-motor{
  .product-moto{
    h1{
      color: $color-motor;
    }
  }
  .programs__tabs__title--active{
    background-color:$color-motor;
  }
  .grid-table-cell--heading {
    background-color: $color-motor;
  }
  .moto-heading{
    color: $color-motor;
  }
  .accordion > li{
    border-left-color: $color-motor;
  }
  .triplette-item--static{
    background-color: $color-motor-soft;
    h3{
      color: $color-motor;
    }
  }
  .contentgroup__tick{
     li:before {
       background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path fill='%2300945f' d='M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82'/></svg>");
     }
   }
  .intro-text h1{
    color: $color-motor;
  }
  .nav-product{
    background-color: $color-motor;
  }
}

.theme-home{
  .product-moto{
    h1{
      color: $color-home;
    }
  }
  .programs__tabs__title--active{
    background-color:$color-home;
  }
  .grid-table-cell--heading  {
    background-color:$color-home;
  }
  .moto-heading{
    color: $color-home;
  }
  .accordion > li{
    border-left-color: $color-home;
  }
  .triplette-item--static{
    background-color: $color-home-soft;
    h3{
      color:$color-home;
    }
  }
  .intro-text h1{
    color:$color-home;
  }
  .nav-product{
    background-color: $color-home;
  }
}

.theme-life{
  .product-moto{
    h1{
      color: $color-life-insurance;
    }
  }
  .programs__tabs__title--active{
    background-color:$color-life-insurance;
  }
  .grid-table-cell--heading {
    background-color:$color-life-insurance;
  }
  .moto-heading{
    color: $color-life-insurance;
  }
  .accordion > li{
    border-left-color: $color-life-insurance;
  }
  .triplette-item--static{
    background-color: $color-life-insurance-soft;
    h3{
      color:$color-life-insurance;
    }
  }
  .contentgroup__tick{
    li:before {
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path fill='%23485294' d='M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82'/></svg>");
    }
  }
  .intro-text h1{
    color: $color-life-insurance;
  }
  .nav-product{
    background-color: $color-life-insurance;
  }
}

.service-provided{
  position: relative;
  &:after{
    content: '';
    display: block;
    background-image: url(../images/icons/check-blue.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
    //margin:0 auto;
  }
}

.service-not-provided{
  position: relative;
  &:after{
    content: '—';
    margin:0 auto;
  }
}

/*controls*/
.program-controls{
  padding-left: 212px;
  display: flex;
  justify-content: space-between;
  margin-top:54px;

  &__more{
    flex-basis: calc(100% - 104px);
    padding:10px 14px 8px;
    border:1px solid $dusky-blue;
    border-radius:4px;
    font-size:12px;
    letter-spacing: 0.3px;
    font-weight: 500;
    color:$dusky-blue;
    line-height: 1;
    cursor: pointer;
    flex-grow: 1;
  }

  &__left{
    cursor: pointer;
    margin-left: 24px;
  }

  &__right{
    cursor: pointer;
    margin-left: 8px;
  }

  @include breakpoint-rev(540){
    display: none;
  }
}

.icon-down{
  float:right;
  svg{
    max-width: 16px;
    max-height: 16px;
  }
}

.no-touch{
  .program-controls__left:hover{
    g{
      opacity:1;
    }
  }
}


/*filtering*/
.filter{
  position: relative;
  margin-bottom: 30px;
  text-align: right;
}

.filter__trigger{
  display: inline-block;
  padding:10px 14px 9px;
  border: 1px solid $dusky-blue;
  background-color:$dusky-blue;
  color:#fff;
  border-radius: 4px;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.filter__results{
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.18);
  position: absolute;
  top:50px;
  right:0;
  opacity: 0;
  padding:24px;
  display:flex;
  flex-wrap: wrap;
  text-align: left;
  z-index: -1;
  transform: translateY(40px);
  transition:opacity 300ms ease-in-out, transform 400ms ease-in-out, z-index 0.5s step-end;
  background-color: #fff;
}

.filter__results--active{
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition:opacity 300ms ease-in-out, transform 400ms ease-in-out, z-index 0.5s step-start;
}

.filter__results__column{
  flex-basis: 33%;
}

.filter__results__heading{
  min-height: 23px;
  margin-bottom:24px;
  font-weight: 800;
  font-size: 14px;
  line-height: 1;

}
.filter__item{
  margin-bottom:16px;
}
.filter__actions{
  flex-basis:100%;
  display: flex;
  flex-wrap: wrap;
}

.filter__cancel{
  margin-left: auto;
  margin-right: 16px;
}

.program{
  display: none;
}
.program--visible{
  display:inherit;
}

.program-grid--subsection{
  margin-bottom: 24px;
  .program-attributes{
    font-size: 12px;
  }
}

.program-grid--subsection__title{
  background: $color-base-grey;
  color: $charcoal;
  margin-bottom: 24px;
  padding: 13px 16px;
  font-weight: 500;
}

.program-heading{
  border-left: 1px solid #eee;
  margin-left: 0;
  padding-left: 0;
  @include breakpoint(540){
    margin-left: 183px;
    padding-left: 30px;
  }

  h2 {
    padding: 16px 20px;
    margin: 0;
    font-size: 16px;

    background-color: #eee;
  }
}
.program-grid--subsection .program{
  background-color: transparent;
}

.grid-table-cell--expander{
  padding-top:16px;
  padding-bottom:20px;
  font-size: 12px;
  color: $dusky-blue;
  text-align: center;
  display: inherit;
  @include breakpoint(540){
    display: none !important;
  }
}

.program-expander{
  max-height: 0;
  transition: max-height 400ms ease;
  overflow: hidden;
  &.program-expander--visible{
    max-height:200vh;
  }
}
main{
  overflow: hidden;
}


.contentgroup{
  display: flex;
  flex-wrap: wrap;

  ul {
    margin-bottom: 24px;
    padding-bottom: 24px;
    margin-left: 14px;
    border-bottom: 1px solid #eee;
  }
  &:last-child {
  ul {
    margin-bottom: 24px;
    padding-bottom: 24px;


      &:last-child {
        border: 0;
      }
    }
  }
}

.contentgroup__tick{
  li {
    margin-bottom: 8px;
    position: relative;
    font-size: 14px;

    &:before {
      content: '';
      position: absolute;
      left: -30px;
      top: 1px;
      background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'><path fill='%23f2b100' d='M21.33,57.82,0,36.53l5.87-5.87L21.33,46.09,58.13,9.36,64,15.23,21.33,57.82'/></svg>");
      background-repeat: no-repeat;
      background-size:16px;
      width:24px;
      height:24px;
    }
  }
}

.contentgroup__left{
  padding-bottom:20px;
  flex-basis: 150px;
  margin-right: 24px;
  border-right: 1px solid #eee;
}

.contentgroup__right{

}

.contentgroup__title{
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
  color:$color-home;
}

.theme-motor{
  .contentgroup__title{
    color: $color-motor;
  }
}

.contentgroup__info{
  font-size: 12px;
  line-height: 1.3;
  color: #383b38;
}

.coverage__expander{
  font-size: 14px;
  color:$cerulean;
  cursor: pointer;
  letter-spacing: 0.4px;
}

.programs__tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.programs__tabs__title{
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  &:not(:first-child){
    margin-left: 20px;
  }
  padding:15px;
  @include breakpoint(1140){
    padding:24px;
  }

  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.2;
  @include fluid-type($min_width, $max_width, 14px, 18px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);

  &--active{
    color:#fff;
    font-weight: 500;
  }
}

.theme-motor{
  .programs__tabs__title--active{
    background-color: $color-motor;
  }
}

.program-wrap{
  display: none;
}

.program-wrap--active{
  display: block;
}

.sticky-pending{
  .logo{
    opacity:0;
    pointer-events: none;
    transition:0.5s opacity ease-in-out;
  }

  &.sticky{
    .logo{
      opacity:1;
      pointer-events: auto;
    }
  }
}