/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.zigzag--light{

}

.zigzag__item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:nth-child(2n){
    flex-direction: row-reverse;
  }

  .btn{
    position: relative;
  }
}

.zigzag__image{
  flex-basis: 100%;

  @include breakpoint(700) {
    flex-basis: 43%;
  }
  img{
    width:100%;
  }
}

.zigzag__info{
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-basis: 100%;
  margin: 24px 0 0 0;

  @include breakpoint(700) {
    flex-basis: 51%;
    margin: 0 3% 0 3%;
  }

  @include breakpoint(1140){
    flex-basis: 37%;
    margin: 0 10% 0 7%;
  }
}

.zigzag__text{
  font-size: 14px;
}

.zigzag a:after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

/*light version with colors*/

.zigzag__image--light{
  flex-basis: 41%;

  img{
    width:100%;
  }
}

.zigzag__info--light{
  display: flex;
  flex-basis: 45%;
  margin: 0 7%;
  flex-direction: column;
  justify-content: center;
}
.zigzag__text--light{
  font-size: 16px;
  line-height: 1.7;
}

@include breakpoint-rev(1140){
  .zigzag--light{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .zigzag__item{
      flex-basis: 48%;
      display: block;
    }
  }
  .zigzag__image--light {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .zigzag__info--light {
    flex-basis: 100%;
    padding-bottom:24px;
    margin-left: 24px;
    margin-right: 24px;
  }
}


@include breakpoint-rev(700) {
  .zigzag--light{
    .zigzag__item{
      flex-basis: 100%;
      display: block;
    }
  }
}